<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/Index.css" asp-append-version="true" />
    <title>D'Clase</title>
</head>

<body>
    <div class="container">
        <div class="dropdown" align="left">
            <button>
                <img src="images\Personal1.jpg" alt="Personal" />
            </button>

            <div class="dropdown-content">
                <a href="students.html">Estudiantes</a>
                <a href="employees.html">Trabajadores</a>
            </div>
        </div>

        <div class="dropdown" align="left">
            <button>
                <img src="images\Ofertas.jpg" alt="Ofertas" />
            </button>

            <div class="dropdown-content">
                <button data-toggle="dropdown">Cursos</button>
                <li class="dropdown-sec">
                    <a href="courses_info.html">Información</a>
                    <a href="schedules.html">Horarios</a>
                </li>
            </div>
        </div>

        <div class="dropdown" align="left">
            <button>
                <img src="images\Finanzas.jpg" alt="Finanzas" />
            </button>

            <div class="dropdown-content">
                <button>
                    <a href="income.html">Ingresos</a>
                </button>
                <div class="dropdown-sec">
                    <a href="salary_payment.html">Efectuar Pago de Salarios</a>
                    <a href="courses_payment.html">Efectuar Cobro de Cursos</a>
                </div>
                <a href="expenses.html">Gastos</a>
                <a href="debtors.html">Deudores</a>
            </div>
        </div>

        <div class="dropdown" align="left">
            <button>
                <img src="images\Administracion1.jpg" alt="Administracion" />
            </button>

            <div class="dropdown-content">
                <a href="users.html">Usuarios</a>
                <a href="positions.html">Cargos</a>
                <a href="basic_assets.html">Medios Básicos</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Classrooms" asp-action="Index">Aulas</a>
            </div>
        </div>
    </div>
</body>

</html>
