<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
</head>
<body>
    <h1>Noticiaciones</h1>

    <ol>
        <li>            
            <div class="notification">
                <h2>Nombre de Notificacion</h2>
                <p>Descripción de la notificación</p>
                <button type= "button">Abrir</button>
                <button type= "button">Cerrar</button>
            </div>
        </li>

        <li>
            <div class="notification">
                <h2>Nombre de Notificacion</h2>
                <p>Descripción de la notificación</p>
                <button type="button">Abrir</button>
                <button type= "button">Cerrar</button>
            </div>
        </li>
        <li>
            <div class="notification">
                <h2>Nombre de Notificacion</h2>
                <p>Descripción de la notificación</p>
                <button type="button">Abrir</button>
                <button type= "button">Cerrar</button>
            </div>
        </li>
    </ol>
</body>
</html>