/* ------------------ NAV BAR ------------------- */
.navb_left {
    height: 40px;
    width: auto;
    margin: 10px;
    float: left;
  }
  
  .navb_right {
    height: 40px;
    width: auto;
    margin: 10px;
    float: right;
  }
  
  img {
    width: 250px;
  }
  
  hr {
    clear: both;
    border: 1px solid rgb(220, 53, 53);
  }