<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="D'Clase School Management" />
    <link rel="icon" href="/images/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" asp-append-version="true" />


    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <img class="navb_left" src="images\logo.jpg" alt="Logo y nombre D'Clase" />

            <a href="students.html"><img class="navb_right" src="images\FAQ.jpg" alt="Ayuda" /></a>

            <a href="students.html"><img class="navb_right" src="images\notification.jpg" alt="Notificaciones" /></a>

            <a href="students.html"><img class="navb_right" src="images\user.jpg" alt="Mi cuenta" /></a>

            <hr />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>

</html>
